<html>
    <link rel="stylesheet" href="proj2.css">
    <script src="proj2.js"></script>
    <body>
            <div class="tab">
                    <button class="tablinks" onclick="openevent(event, 'uses')"><b>Uses</b></button>
                    <button class="tablinks" onclick="openevent(event, 'warning')"><b>Warnings</b></button>
                    <button class="tablinks" onclick="openevent(event, 'interactions')"><b>Interactions</b></button>
                    <button class="tablinks" onclick="openevent(event, 'direction')"><b>Direction</b></button>
                    <button class="tablinks" onclick="openevent(event, 'sideeffects')"><b>Side Effects</b></button>
                    <button class="tablinks" onclick="openevent(event, 'more')"><b>More</b></button>
            </div>
                  <div id="uses" class="tabcontent">
                      <ul>
                          <li>This is uses</li>
                          <li>This is uses</li>
                          <li>This is uses</li>
                          <li>This is uses</li>
                          <li>This is uses</li>
                      </ul>
                  </div>
                  <div id="warning" class="tabcontent">
                        <ul>
                                <li>This is warning</li>
                                <li>This is warning</li>
                                <li>This is warning</li>
                                <li>This is warning</li>
                                <li>This is warning</li>
                            </ul>
                      
                  </div>
                  
                  <div id="interactions" class="tabcontent">
                        <ul>
                                <li>This is interactions</li>
                                <li>This is interactions</li>
                                <li>This is interactionst</li>
                            </ul>
                         
                  </div>
                  <div id="direction" class="tabcontent">
                        <ul>
                            <li>This is direction</li>
                            <li>This is direction</li>
                            <li>This is direction</li>
                            <li>This is direction</li>
                        </ul>
                    </div>
                    <div id="sideeffects" class="tabcontent">
                          <ul>
                                  <li>This is sideeffects</li>
                                  <li>This is sideeffects</li>
                          </ul>
                        
                    </div>
                    
                    <div id="more" class="tabcontent">
                          <ul>
                                  <li>More About this</li>
                              </ul>
                           
                    </div>
    </body>

</html>
